@CHARSET "UTF-8";
.pagelist a:hover {
   	    background: #00AAEE;
	    color: #FFF;
	    border-color: #00AAEE;
	}
.pagelist .current{
	background-color:#00AAEE;
	color:white;
	border:solid 1px #00AAEE;
}
