<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="activityGoodsList">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>营销</li>
            <li>优惠活动</li>
            <li class="active">活动商品</li>
        </ol>
    </div>
    <div class="htm-operation row">
        <div class="pull-left">活动标题</div>
        <div class="pull-right">
            <a href="selectActivityGoods.html" class="btn btn-primary">
                选择活动商品
            </a>
        </div>
    </div>
    <form action="">
        <div class="htm-table">
            <table class="table text-center table-bordered table-striped">
                <tr>
                    <td>顺序</td>
                    <td>商品图片</td>
                    <td>商品信息</td>
                    <td>总库存</td>
                    <td>总销量</td>
                    <td>状态</td>
                    <td>操作</td>
                </tr>
                <tr>
                    <td>
                        <input type="number" class="form-control">
                    </td>
                    <td style="width: 14%">
                        <img src="../www/image/111.jpg" alt="" width="30%">
                    </td>
                    <td>
                        <p>38泰勒梅Taylormade高尔夫球Tour Preferred X五层球 比赛用球 正品</p>
                        <span>(ID:38)</span>
                    </td>
                    <td>600</td>
                    <td>9</td>
                    <td>正常</td>
                    <td>
                        <a href="lookActivityGoods.html" class="btn btn-primary">查看</a>
                        <button class="btn btn-danger">删除</button>
                    </td>
                </tr>

            </table>
        </div>
        <div class="row">
            <div class="col-xs-5"></div>
            <div class="col-xs-2">
                <button class="btn btn-primary">完成</button>
            </div>
        </div>
    </form>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>