<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="addctivity">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>营销</li>
            <li>优惠活动</li>
            <li class="active">添加活动</li>
        </ol>
    </div>
    <form action="">
        <div class="htm-msg">

            <div class="msg-title row">
                <div class="pull-left">活动信息</div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label >活动标题</label>
                </div>
                <div class="col-xs-4 text-left">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label >活动大图</label>
                </div>
                <div class="col-xs-4 text-left">

                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label >活动时间</label>
                </div>
                <div class="col-xs-6 text-left">

                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label >活动简介</label>
                </div>
                <div class="col-xs-6 text-left">
                    <textarea name="" id="" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label >顺序</label>
                </div>
                <div class="col-xs-6 text-left">
                    <input type="number" class="form-control">
                </div>
            </div>
        </div>

        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">
                    优惠信息
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label >有无优惠</label>
                </div>
                <div class="col-xs-6 text-left">
                    <input type="radio" class="">无优惠
                    <input type="radio" class="">有优惠
                </div>
            </div>
            <div class="have">
                <div class="form-group row">
                    <div class="col-xs-3 text-center">
                        <label >优惠标题</label>
                    </div>
                    <div class="col-xs-4 text-left">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3 text-center">
                        <label >优惠标题</label>
                    </div>
                    <div class="col-xs-4 text-left">
                        <input type="radio" >金额
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3 text-center">
                        <label >优惠标题</label>
                    </div>
                    <div class="col-xs-4 text-left">
                        <input type="radio" >直减
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-3 text-center">
                        <label >优惠内容</label>
                    </div>
                    <div class="col-xs-6 text-left">
                        <table class="table text-center table-bordered">
                            <tr>
                                <td colspan="2">优惠内容</td>
                                <td>
                                    <button class="btn btn-default">添加</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    满<input type="number" class="form-control">元
                                </td>
                                <td>减<input type="number" class="form-control">元</td>
                                <td>
                                    <button class="btn btn-danger">删除</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="finish-btn row">
            <div class="col-xs-3"></div>
            <div class="col-xs-6 row">
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block">保存</button>
                </div>
                <div class="col-xs-6">
                    <button class="btn btn-primary btn-block">保存并设置活动商品</button>
                </div>
            </div>
        </div>
    </form>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>