<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="addGolfCourse">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>内容</li>
            <li>球场资讯管理</li>
            <li class="active">添加球场资讯</li>
        </ol>
    </div>
    <form action="">
        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">
                    增加内容
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">球场标题</label>
                </div>
                <div class="col-xs-4 text-left">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">作者/来源</label>
                </div>
                <div class="col-xs-4 text-left">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">球场资讯列表图</label>
                    <p>图片尺寸要求:152px*98px</p>
                </div>
                <div class="col-xs-4 text-left">

                </div>
            </div>
        </div>

        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">球场段落</div>
            </div>
            <div class="text-center">
                <div class="h3">段落一</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10"><hr></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落图片</label>
                    <p>图片尺寸要求:640px*400px</p>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落详情</label>
                </div>
                <div class="col-xs-4">
                    <textarea name="" id="" class="form-control"></textarea>
                </div>
            </div>

            <div class="text-center">
                <div class="h3">段落二</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10"><hr></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落图片</label>
                    <p>图片尺寸要求:640px*400px</p>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落详情</label>
                </div>
                <div class="col-xs-4">
                    <textarea name="" id="" class="form-control"></textarea>
                </div>
            </div>

            <div class="text-center">
                <div class="h3">段落三</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10"><hr></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落图片</label>
                    <p>图片尺寸要求:640px*400px</p>
                </div>
                <div class="col-xs-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落详情</label>
                </div>
                <div class="col-xs-4">
                    <textarea name="" id="" class="form-control"></textarea>
                </div>
            </div>

        </div>

        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">备注</div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">备注信息</label>
                </div>
                <div class="col-xs-4 text-left">
                    <textarea name="" class="form-control"></textarea>
                </div>
            </div>
        </div>

        <div class="finish-btn row">
            <div class="col-xs-5"></div>
            <div class="col-xs-2">
                <button class="btn btn-primary btn-block">完成</button>
            </div>
        </div>
    </form>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>