<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="advert">
    <form action="">
        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">编辑广告</div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">广告图1</label>
                </div>
                <div class="col-xs-4 text-left"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">广告图2</label>
                </div>
                <div class="col-xs-4 text-left"></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">广告图3</label>
                </div>
                <div class="col-xs-4 text-left"></div>
            </div>
        </div>
        <div class="finish-btn row">
            <div class="col-xs-4 col-sm-5 col-md-5 col-lg-5"></div>
            <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
                <button class="btn btn-primary btn-block">确认修改</button>
            </div>
        </div>
    </form>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>