<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="afterdetails">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>订单</li>
            <li>售后管理</li>
            <li class="active">售后详情</li>
        </ol>
    </div>

    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">售后信息</div>
            <div class="pull-right">售后状态:已处理</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                申请服务
            </div>
            <div class="col-xs-4 text-left">
                仅退款
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                退款原因
            </div>
            <div class="col-xs-4 text-left">
                缺货
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                退款金额
            </div>
            <div class="col-xs-4 text-left">
                12.0元
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                退款说明
            </div>
            <div class="col-xs-4 text-left">
                好的
            </div>
        </div>
    </div>

    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">处理方式</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                处理方式
            </div>
            <div class="col-xs-4 text-left">
                仅退款
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                退款方式
            </div>
            <div class="col-xs-4 text-left">
                支付宝
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                实际退款金额
            </div>
            <div class="col-xs-4 text-left">
                12.00元
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                处理说明
            </div>
            <div class="col-xs-4 text-left">
                好的
            </div>
        </div>
    </div>

    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">订单信息</div>
            <div class="pull-right">订单状态:售后完成</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                订单编号
            </div>
            <div class="col-xs-4 text-left">
                14906684763592731
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                下单时间
            </div>
            <div class="col-xs-4 text-left">
                2017-03-28 10:34:36
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                商品名称
            </div>
            <div class="col-xs-4 text-left">
                38泰勒梅Taylormade高尔夫球Tour Preferred X五层球 比赛用球 正品
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                联系电话
            </div>
            <div class="col-xs-4 text-left">
                13661919081
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                收货人
            </div>
            <div class="col-xs-4 text-left">
                隔壁老王
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                会员身份
            </div>
            <div class="col-xs-4 text-left">
                普通用户
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                收货地址
            </div>
            <div class="col-xs-4 text-left">
                上海市浦东新区耀华路488号信建大厦
            </div>
        </div>
    </div>

    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">商品信息</div>
        </div>
        <table class="table table-bordered text-center table-striped">
            <tr>
                <td>商品名称</td>
                <td>SKU编码</td>
                <td>商品数量</td>
                <td>平台价(元)</td>
                <td>会员价(元)</td>
                <td>小计</td>
            </tr>
            <tr>
                <td>38泰勒梅Taylormade高尔夫球Tour Preferred X五层球 比赛用球 正品</td>
                <td>
                    <p>14889576601597010</p>
                    <p class="text-danger">售后完成</p>
                </td>
                <td>1</td>
                <td>300.0</td>
                <td>200.0</td>
                <td>300.0</td>
            </tr>
        </table>
        <div class="alert alert-warning">
            <div class="row">
                <div class="col-xs-2 text-right">
                    <strong>优惠信息：</strong>
                </div>
                <div class="col-xs-10">
                    <c:forEach items="${activityDiscountList}" var="activityDiscount">
                        ${activityDiscount}
                        <br>
                    </c:forEach>
                </div>

            </div>
        </div>
        <hr>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                是否使用积分
            </div>
            <div class="col-xs-4 text-left">
                否
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                支付方式
            </div>
            <div class="col-xs-4 text-left">
                支付宝
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                实付款
            </div>
            <div class="col-xs-4 text-left">
                280.0元
            </div>
        </div>
        <br>
        <br>
        <div class="form-group">

            <div class="pull-right">
                已退款:<strong>0.0元</strong>
            </div>
        </div>

    </div>

    <div class="alert alert-success">
        <div class="row">
            <div class="col-xs-2 text-right">
                <strong>申请售后的商品：</strong>
            </div>
            <div class="col-xs-6">
                <span>名称：${goodsSku.goodsName}(${ typeitemname1})</span><br> <span>ID:${goodsSku.code}</span>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-xs-5"></div>
        <div class="col-xs-2">
            <button class="btn btn-primary btn-block">返回</button>
        </div>
    </div>
    <script src="../component/jquery/dist/jquery.min.js"></script>
    <script src="../www/js/fontchange.js"></script>
</body>
</html>