<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="commentManage">
    <div class="htm-entry">
        <form action="" class="form-inline">
            <div class="row">
                <div class="form-group col-xs-4">
                    <label for="">评论标题</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group col-xs-4">
                    <label for="">评论类型</label>
                    <select name="" id="" class="form-control">
                        <option value="">全部</option>
                        <option value="">已上架</option>
                    </select>
                </div>
                <div class="pull-right">
                    <button class="btn btn-primary">查询</button>&nbsp;
                    <button class="btn btn-danger">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div class="htm-table">
        <table class="table text-center table-bordered table-striped">
            <tr>
                <td>评论内容</td>
                <td>评论人</td>
                <td>评论标题</td>
                <td>内容类型</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>
                    <p>写的好</p>
                    <span>2017-04-06 11:06:14.0</span>
                </td>
                <td>
                    隔壁经纪人
                </td>
                <td>123</td>
                <td>球场资讯</td>
                <td>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
        </table>
    </div>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>