<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="comment">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>商品</li>
            <li class="active">评价管理</li>
        </ol>
    </div>

    <div class="htm-entry">
        <form action="" class=" form-inline">
            <div class="entry-line1 row">
                <div class="form-group  col-xs-4">
                    <label for="tradename" class="control-label">商品名称</label>
                    <input type="text" name="goodsName" value="${goodsName}" id="goodsName" class="form-control" />
                </div>
                <div class="form-group  col-xs-4">
                    <label class="control-label">商品ID</label>
                    <input type="text"  name="goodsId" value="${goodsId}" id="goodsId" class="form-control" />
                </div>
                <div class="form-group col-xs-4">
                    <label class="control-label">商品类别</label>
                    <select name="goodsitemnextName" id="goodsitemnextName" class="form-control">
                        <option value="all" ${status=="all"?'selected':''}>全部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
                        <option value="">高球</option>
                    </select>
                </div>
            </div>

            <div class="row">

                <div class="pull-right">
                    <input type="submit" class="btn btn-primary" value="查询" />&nbsp;&nbsp;
                    <input type="button" class=" btn btn-danger"
                           onclick="$('#GOODSname').val('');$('#SKUcode').val('');"
                           value="重置" />
                </div>

            </div>
        </form>
    </div>

    <div class="htm-table">
        <table class="table text-center table-bordered table-striped">
            <tr>
                <td>评论内容</td>
                <td>评论人</td>
                <td>商品名称</td>
                <td>操作</td>
            </tr>
            <tr>
                <td style="width: 20%">
                    <p>厉害了</p>
                    <img src="../www/image/111.jpg" alt="" width="30%">
                    <p>2016-12-25 14:36</p>
                </td>
                <td>隔壁老王</td>
                <td>
                    <p>泰勒梅高尔夫球杆TaylorMade R15高尔夫套杆 初中级全套男士</p>
                     <span>(ID:14891109891673489)</span>
                </td>
                <td>
                    <button class="btn btn-default" id="answer">回复</button>
                    <button class="btn btn-danger">删除</button>
                </td>
            </tr>
        </table>
    </div>

    <!--添加标签-->
    <div class="modal fade  answer-modal"
         id="answer-modal" data-backdrop="static">
        <!--data-backdrop ="static" -表示点击背景不会退出窗口-->
        <div class="modal-dialog modal-md">
            <!--模态窗口所有内容放在modal-content里-->
            <div class="modal-content">
                <div class="modal-header text-center">
                    <!--模态窗口关闭按钮放在modal-header里-->
                    <!--<button class="close" data-dismiss="modal">-->
                    <!--&times;-->
                    <!--</button>-->
                    <h4>回复</h4>
                </div>
                <!--end--modal-header -->
                <div class="modal-body">
                    <form action="#" method="post" >
                        <div class="form-group row">
                            <div class="col-xs-3 text-center">
                                回复内容
                            </div>
                            <div class="col-xs-5 text-left">
                                <textarea name="reply"   class="form-control" placeholder="请输入回复内容"></textarea>
                            </div>
                        </div>

                        <div class="form-group row modal-btn">
                            <div class="col-xs-4"></div>
                            <div class="col-xs-4">
                                <button class="btn btn-block btn-primary" data-dismiss="modal">完成</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--end--modal-body-->

            </div>
            <!--end--modal-content  -->
        </div>
        <!--end--modal-dialog-->
    </div>
    <!--end -addoneitem-modal--->

    <script src="../component/jquery/dist/jquery.min.js"></script>
    <script src="../www/js/fontchange.js"></script>
    <script src="../component/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
        $(function () {
            $("#answer").click(function () {
                $("#answer-modal").modal({
                    backdrop : false,
                    keyboard : false
                })
            });


        })
    </script>
</body>
</html>