
<html lang="zh-cn">

<head>
    <base href="<%=basePath%>">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="edge" />
    <link rel="stylesheet" href="../www/font-face/css/font-awesome.min.css" />
    <link rel="stylesheet"
          href="../component/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../www/src/AdminLTE.min.css" />
    <link rel="stylesheet" href="../www/src/skin-blue.min.css" />
    <link rel="stylesheet" href="../www/css/index.css">


    <title>运营系统</title>
    <style>
        .storage-btn {
            opacity: 1 !important;
            cursor: auto !important;
            background: transparent !important;
        }

        .storage-btn:hover {
            color: white !important;
        }

        .alert-msg {
            position: absolute;
            padding: 0 1.6% 0 2.8%;
            z-index: 999999;
            height: 117px;
            width: 280px;
            bottom: 5%;
            right: -350px;
            border-left: 10px black #3C8DBC;
            background: url('www/img/bg.png') no-repeat;
            background-size: cover;
            transition: 1s ease-out;
            color: white;
        }

        .alert-msg .alert-title {
            color: black;
            font-size: 20px;
            margin-bottom: 10%;
        }

        .close-btn {
            background-color: white;
            border: solod 1px #3C8DBC;
            color: #3C8DBC;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini"
      style='overflow-y: hidden;'>
<div class="etc wrapper ">
    <header class="main-header" style='position: fixed; width: 100%'>

        <!-- Logo -->
        <a href="#" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>PL</b></span> <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">普利荟运营管理</span>
        </a>

        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation"
             style="padding-right: 1%">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas"
               role="button"> <span class="sr-only">Toggle navigation</span>
            </a>
            <div class="row pull-right" style="height: 50px; line-height: 50px">
                <div class="col-xs-6">
                    <button class="storage-btn disabled btn btn-default">
                        用户名:<span>管理员</span>
                    </button>
                </div>
                <div class="col-xs-1">
                    <!--  <button class="btn btn-default">
                    <span class="glyphicon glyphicon-envelope"></span>
                </button> -->
                </div>
                <div class="col-xs-4">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle"
                                data-toggle="dropdown">
                            ${sessionStorageUserName}<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="login">退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <!--end--截止到这是导航项-->

    <!-- 总仓管理 -->

        <aside class="main-sidebar" style='position: fixed'>

            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <!-- Sidebar Menu -->
                <ul class="sidebar-menu">
                    <!--<li class="header">HEADER</li>-->
                    <!-- Optionally, you can add icons to the links -->
                    <li class=" treeview"><a href="goodsManage"> <i
                            class="fa fa-check-square"></i> <span>商品</span> <span
                            class="pull-right-container"> <i
                            class="fa fa-angle-left pull-right"></i>
							</span>
                    </a>
                        <ul class="treeview-menu">
                            <li><a id="merchandise-control" target="right"
                                   href="goodsManage.html">商品管理</a></li>
                            <li><a id="new-putin" target="right" href="itemmanage.html">类别管理</a>
                            </li>
                            <li><a id="old-reple" target="right" href="labelmanage.html">标签管理</a>
                            </li>
                            <li><a id="optional-type" target="right"
                                   href="comment.html">评价管理</a></li>

                        </ul></li>
                    <li class=" treeview"><a href="#"> <i
                            class="fa fa-check-square-o"></i> <span>订单</span> <span
                            class="pull-right-container"> <i
                            class="fa fa-angle-left pull-right"></i>
							</span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a id="emit-control" target="right"
                                   href="orderManage.html">订单管理</a></li>
                            <li><a target="right" href="afterManage.html">售后管理</a></li>

                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#"> <i class="fa fa-file"></i>
                            <span>营销</span> <span class="pull-right-container"> <i
                                    class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a target="right" href="recommendManage.html">推荐管理</a></li>
                            <li><a target="right" href="speciaOffer.html">优惠活动</a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#"> <i class="fa fa-file"></i>
                            <span>财务</span> <span class="pull-right-container"> <i
                                    class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a target="right" href="tradeManage.html">交易管理</a></li>
                            <li><a target="right" href="storageChangeRecord">交易审核</a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#"> <i class="fa fa-file"></i>
                            <span>内容</span> <span class="pull-right-container"> <i
                                    class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a target="right" href="storageSkuManage">杂志管理</a></li>
                            <li><a target="right" href="storageChangeRecord">球场资讯管理</a></li>
                            <li><a target="right" href="storageChangeRecord">内容评论管理</a>
                            </li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#"> <i class="fa fa-file"></i>
                            <span>用户</span> <span class="pull-right-container"> <i
                                    class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a target="right" href="storageSkuManage">用户管理</a></li>

                        </ul>
                    </li>

                    <li class="treeview">
                        <a href="#"> <i class="fa fa-file"></i>
                            <span>广告</span> <span class="pull-right-container"> <i
                                    class="fa fa-angle-left pull-right"></i>
                                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a target="right" href="storageSkuManage">广告管理</a></li>

                        </ul>
                    </li>

                </ul>
                <!-- /.sidebar-menu -->
            </section>
            <!-- /.sidebar -->
        </aside>




    <div id="text" class="content-htm content-wrapper"
         style="height: 100%">
        <iframe scrolling='auto' id="right" name="right" width="100%"
                style="border: none;" src="goodsManage.html"></iframe>
    </div>

    <div class='main-header'
         style='position: fixed; bottom: 0; width: 100%; height: 20px; color: white'>
        <a href="#" class="logo"
           style='z-index: -1; background-color: #222D32'> <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"></span> <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"></span>
        </a>
        <nav class="navbar navbar-static-top static-bottom text-center"
             role="navigation">
            温 馨 提 示：推 荐 使 用 chrome 浏览器 &nbsp; &nbsp;&nbsp; ——— <a
                style='color: white'
                href='http://sw.bos.baidu.com/sw-search-sp/software/1c5131aea1842/ChromeStandalone_56.0.2924.87_Setup.exe
		 	'>点
            击下 载 </a>
        </nav>
    </div>



    <script src="../component/jquery/dist/jquery.min.js"></script>
    <script src="../component/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../www/js/app.js"></script>
    <script src="../www/js/main.js"></script>
    <script src="../www/js/index.js"></script>
    <script>
        function iFrameHeight() {
            var ifm = $("iframe");

            //var h = document.body.clientHeight - 20;//110是框架中其他块儿的
            var a = $(window).height() - 20;

            if (ifm != null) {
                ifm.height(a);
                console.log(ifm)

            }
        }
        $(window).resize(iFrameHeight);
        $(document).ready(iFrameHeight);
    </script>



</div>
</body>
</html>