<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="instationmsg">
    <div class="htm-entry">
        <form action="" class="form-inline">
            <div class="row">
                <div class=" col-xs-4">
                    <label>消息标题</label>
                    <input type="text" class="form-control">
                </div>
                <div class=" col-xs-4">
                    <label>发送时间</label>

                </div>
                <div class="col-xs-4 text-right">
                    <button class="btn btn-primary">查询</button>
                    <button class="btn btn-danger">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div class="htm-operation row">
        <div class="pull-right">
            <a href="sendinstationmsg.html" class="btn btn-success">发送消息</a>
        </div>
    </div>

    <div class="htm-table">
        <table class="table text-center table-bordered table-striped">
            <tr>
                <td>消息标题</td>
                <td>发送时间</td>
                <td>会员类型</td>
                <td>发送数量</td>
                <td>收到数量</td>
                <td>打开数量</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>推送消息</td>
                <td>2016-04-25 9：22</td>
                <td>全部用户</td>
                <td>1000</td>
                <td>100</td>
                <td>20</td>
                <td>
                    <a href="" class="btn btn-primary">
                        查看
                    </a>
                </td>
            </tr>
        </table>
    </div>
<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>