<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="listmanage">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>营销</li>
            <li>营销管理</li>
            <li class="active">首页banner</li>
        </ol>
    </div>

    <div class="htm-operation row">
        <div class="pull-left">
            <button class="btn btn-danger">删除</button>
            <button class="btn btn-success">全选</button>
        </div>
        <div class="pull-right">
            <a href="addRecommend.html" class="btn btn-primary" >添加推荐</a>
        </div>
    </div>

    <div class="htm-table">
        <table class="table text-center table-bordered table-striped">
            <tr>
                <td>选择</td>
                <td>顺序</td>
                <td>推荐图片</td>
                <td>推荐标题</td>
                <td>更新时间</td>
                <td>推荐类型</td>
                <td>备注</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>
                    <input type="checkbox">
                </td>
                <td>444</td>
                <td style="width: 12%">
                    <img src="../www/image/111.jpg" alt="" width="40%">
                </td>
                <td>活动测试一	</td>
                <td>2017-03-10 10:25:32</td>
                <td>活动</td>
                <td>活动测试一</td>
                <td>
                    <a href="updateRecommend.html" class="btn btn-default">编辑</a>
                    <a href="lookRecommend.html" class="btn btn-primary">查看</a>
                </td>
            </tr>
        </table>
    </div>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>