<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="lookActivityGoods">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>营销</li>
            <li>优惠活动</li>
            <li>活动商品</li>
            <li class="active">商品查看</li>
        </ol>
    </div>
    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">
                商品基本信息
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                商品名称
            </div>
            <div class="col-xs-4 text-left">
                38泰勒梅Taylormade高尔夫球Tour Preferred X五层球 比赛用球 正品
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                列表页图片
            </div>
            <div class="col-xs-4 text-left">
                <img src="../www/image/111.jpg" width="30%" alt="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                详情页轮播图片
            </div>
            <div class="col-xs-4 text-left">
                <img src="../www/image/111.jpg" width="30%" alt="">
                <img src="../www/image/111.jpg" width="30%" alt="">
                <img src="../www/image/111.jpg" width="30%" alt="">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                类别
            </div>
            <div class="col-xs-4 text-left">
                 高球
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                图文详情
            </div>
            <div class="col-xs-4 text-left">
                <img src="../www/image/111.jpg" width="30%" alt="">
                <img src="../www/image/111.jpg" width="30%" alt="">
                <img src="../www/image/111.jpg" width="30%" alt="">
            </div>
        </div>
    </div>

    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">SKU信息</div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                单人限购数量
            </div>
            <div class="col-xs-4 text-left">
                10
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                规格参数
            </div>
            <div class="col-xs-4 text-left">
                <table class="table text-center table-bordered table-striped">
                    <tr>
                        <td>商品规格</td>
                        <td>参数内容</td>
                    </tr>
                    <tr>
                        <td>上市时间</td>
                        <td>2015年冬季</td>
                    </tr>
                    <tr>
                        <td>品牌</td>
                        <td>NIKE</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                商品SKU
            </div>
            <div class="col-xs-8 text-left">
                <table class="table text-center table-bordered table-striped">
                    <tr>
                        <td>颜色+尺寸</td>
                        <td>SKU编码</td>
                        <td>图片</td>
                        <td>库存</td>
                        <td>成本价(元)</td>
                        <td>平台价(元)</td>
                        <td>SKU状态</td>
                    </tr>
                    <tr>
                        <td>黑色+三层球</td>
                        <td>14889576601597010</td>
                        <td style="width: 15%">
                            <img src="../www/image/111.jpg" width="30%" alt="">
                        </td>
                        <td>100</td>
                        <td>100.0</td>
                        <td>300.0</td>
                        <td>正常</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="finish-btn row">
        <div class="col-xs-5"></div>
        <div class="col-xs-2">
            <button class="btn btn-primary btn-block">
                返回到活动商品列表
            </button>
        </div>
    </div>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>