<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="lookGolfCourse">

    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>内容</li>
            <li>球场资讯管理</li>
            <li class="active">查看球场资讯</li>
        </ol>
    </div>
    <form action="">
        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">
                    查看内容
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">球场标题</label>
                </div>
                <div class="col-xs-4 text-left">
                    测试188
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">作者/来源</label>
                </div>
                <div class="col-xs-4 text-left">
                    蓝天188
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">球场列表图</label>
                    <p>图片尺寸要求:152px*98px</p>
                </div>
                <div class="col-xs-4 text-left">
                    <img src="../www/image/111.jpg" alt="" width="30%">
                </div>
            </div>
        </div>

        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">球场段落</div>
            </div>
            <div class="text-center">
                <div class="h3">段落一</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10"><hr></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落图片</label>
                    <p>图片尺寸要求:640px*400px</p>
                </div>
                <div class="col-xs-4">
                    <img src="../www/image/111.jpg" alt="" width="30%">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落详情</label>
                </div>
                <div class="col-xs-4">
                    【环球网综合报道】据韩联社3月16日报道，不少在中国运营的邮轮公司纷纷决定取消韩国港口停靠计划，更改航线。韩国相关行业预测，中国邮轮集体取消韩国停靠现象至少将持续至今年6月底。 　　报道援引相关行业当天消息称，在中国经营的多家邮轮公司日前宣布，3月15日至6月底期间不再停靠韩国港口。这项措施导致从中国启程经由韩国的182次航班被取消，共有36万名游客的韩国游告吹。 　　行业人士分析称，对中国邮轮公司来说，在东北亚畅销的邮轮产品中均包括韩日航线，因此他们不会完全放弃。他们决定截至6月底暂停经由韩国港口，意味着若情况改变，随即恢复赴韩航线。
                </div>
            </div>

            <div class="text-center">
                <div class="h3">段落二</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10"><hr></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落图片</label>
                    <p>图片尺寸要求:640px*400px</p>
                </div>
                <div class="col-xs-4">
                    <img src="../www/image/111.jpg" alt="" width="30%">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落详情</label>
                </div>
                <div class="col-xs-4">
                    【环球网综合报道】据韩联社3月16日报道，不少在中国运营的邮轮公司纷纷决定取消韩国港口停靠计划，更改航线。韩国相关行业预测，中国邮轮集体取消韩国停靠现象至少将持续至今年6月底。 　　报道援引相关行业当天消息称，在中国经营的多家邮轮公司日前宣布，3月15日至6月底期间不再停靠韩国港口。这项措施导致从中国启程经由韩国的182次航班被取消，共有36万名游客的韩国游告吹。 　　行业人士分析称，对中国邮轮公司来说，在东北亚畅销的邮轮产品中均包括韩日航线，因此他们不会完全放弃。他们决定截至6月底暂停经由韩国港口，意味着若情况改变，随即恢复赴韩航线。
                </div>
            </div>

            <div class="text-center">
                <div class="h3">段落三</div>
            </div>
            <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10"><hr></div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落图片</label>
                    <p>图片尺寸要求:640px*400px</p>
                </div>
                <div class="col-xs-4">
                    <img src="../www/image/111.jpg" alt="" width="30%">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">段落详情</label>
                </div>
                <div class="col-xs-4">
                    【环球网综合报道】据韩联社3月16日报道，不少在中国运营的邮轮公司纷纷决定取消韩国港口停靠计划，更改航线。韩国相关行业预测，中国邮轮集体取消韩国停靠现象至少将持续至今年6月底。 　　报道援引相关行业当天消息称，在中国经营的多家邮轮公司日前宣布，3月15日至6月底期间不再停靠韩国港口。这项措施导致从中国启程经由韩国的182次航班被取消，共有36万名游客的韩国游告吹。 　　行业人士分析称，对中国邮轮公司来说，在东北亚畅销的邮轮产品中均包括韩日航线，因此他们不会完全放弃。他们决定截至6月底暂停经由韩国港口，意味着若情况改变，随即恢复赴韩航线。
                </div>
            </div>

        </div>

        <div class="htm-msg">
            <div class="msg-title row">
                <div class="pull-left">备注</div>
            </div>
            <div class="form-group row">
                <div class="col-xs-3 text-center">
                    <label for="">备注信息</label>
                </div>
                <div class="col-xs-4 text-left">
                    测试
                </div>
            </div>
        </div>

        <div class="finish-btn row">
            <div class="col-xs-5"></div>
            <div class="col-xs-2">
                <button class="btn btn-primary btn-block">返回</button>
            </div>
        </div>
    </form>


<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>