<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="orderDetails">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>用户</li>
            <li>用户管理</li>
            <li>订单记录</li>
            <li class="active">订单详情</li>
        </ol>
    </div>

    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">订单信息</div>
            <div class="pull-right">订单状态:<span>运营同意待发货</span></div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">订单编号</label>
            </div>
            <div class="col-xs-4 text-left">
                14914526615068087
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">下单时间</label>
            </div>
            <div class="col-xs-4 text-left">
                2017-04-06 12:24:21
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">商品名称</label>
            </div>
            <div class="col-xs-4 text-left">
                [泰勒梅高尔夫球杆TaylorMade R15高尔夫套杆 初中级全套男士 ]
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">联系电话</label>
            </div>
            <div class="col-xs-4 text-left">
                14791286530
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">收货人</label>
            </div>
            <div class="col-xs-4 text-left">
                王健林
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">会员身份</label>
            </div>
            <div class="col-xs-4 text-left">
                普通用户
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">收货地址</label>
            </div>
            <div class="col-xs-4 text-left">
                澳门 圣安多尼堂 耀华路366
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">发货仓库</label>
            </div>
            <div class="col-xs-4 text-left">
                天津分仓
            </div>
        </div>
    </div>

    <div class="htm-msg">
        <div class="msg-title row">
            <div class="pull-left">商品信息</div>
        </div>
        <table class="table text-center table-striped">
            <tr>
                <td>商品名称</td>
                <td>SKU编码</td>
                <td>商品数量</td>
                <td>平台价(元)</td>
                <td>会员价(元)</td>
                <td>小计</td>
            </tr>
            <tr>
                <td>[泰勒梅高尔夫球杆TaylorMade R15高尔夫套杆 </td>
                <td>14891109891673689</td>
                <td>1</td>
                <td>300.0</td>
                <td>200.0</td>
                <td>300</td>
            </tr>
        </table>

        <div class="alert alert-warning">
            <div class="row">
                <div class="col-xs-2 text-right">
                    <strong>优惠信息:</strong>
                </div>
                <div class="col-xs-6">
                    <span>满100减200</span><br> <span>ID:${goodsSku.code}</span>
                </div>

            </div>
        </div>
        <hr>

        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">是否使用积分</label>
            </div>
            <div class="col-xs-4 text-left">
                否
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-3 text-center">
                <label for="">支付方式</label>
            </div>
            <div class="col-xs-4 text-left">
                支付宝
            </div>
        </div>

        <div class="form-group row">

            <div class="pull-right">
                <span>实付款:</span>
                <strong>300.0元</strong>
            </div>
        </div>
    </div>
    
<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>