<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="orderRecord">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>用户</li>
            <li>用户管理</li>
            <li class="active">订单记录</li>
        </ol>
    </div>
    <div class="htm-table">
        <table class="table text-center table-bordered table-striped">
            <tr>
                <td>订单编号</td>
                <td>订单ID</td>
                <td>用户名称</td>
                <td>下单时间</td>
                <td>订单状态</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>14914526615068087</td>
                <td>2006</td>
                <td>
                    <p>Nomore</p>
                    <span>(ID:88)</span>
                </td>
                <td>2017-04-06 12:24:21</td>
                <td>运营同意待发货</td>
                <td>
                    <a href="orderDetails.html" class="btn btn-primary">查看</a>
                </td>
            </tr>
        </table>
    </div>
<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>