<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="recommendanage">

    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>营销</li>

            <li class="active">推荐管理</li>
        </ol>
    </div>

    <div class="htm-table">
        <table class="table text-center table-bordered ">
            <tr>
                <td>页面</td>
                <td>模块</td>
                <td>操作</td>
            </tr>
            <tr>
                <td rowspan="5">首页</td>
                <td>首页banner</td>
                <td>
                    <a class="btn btn-primary" href="listManage.html">列表管理</a>
                </td>
            </tr>
            <tr>

                <td>热门推荐A</td>
                <td> <button class="btn btn-primary">列表管理</button></td>
            </tr>
            <tr>

                <td>热门商品A</td>
                <td><button class="btn btn-primary">列表管理</button></td>
            </tr>
            <tr>

                <td>热门推荐B</td>
                <td><button class="btn btn-primary">列表管理</button></td>
            </tr>
            <tr>

                <td>热门商品B</td>
                <td><button class="btn btn-primary">列表管理</button></td>
            </tr>
            <tr>
                <td rowspan="2">商城</td>
                <td>推荐分类A</td>
                <td><button class="btn btn-primary">列表管理</button></td>
            </tr>
            <tr>

                <td>活动推荐A</td>
                <td><button class="btn btn-primary">列表管理</button></td>
            </tr>
            <tr>
                <td>分类</td>
                <td>热门商品C</td>
                <td><button class="btn btn-primary">列表管理</button></td>
            </tr>
        </table>
    </div>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>