<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>Title</title>

</head>
<body class="tradingRecord">
    <div class="htm-bread">
        <ol class="breadcrumb">
            <li>用户</li>
            <li>用户管理</li>
            <li class="active">交易记录</li>
        </ol>
    </div>

    <div class="htm-table">
        <table class="table text-center table-bordered table-striped">
            <tr>
                <td>交易号</td>
                <td>金额</td>
                <td>支付方式</td>
                <td>交易类型</td>
                <td>交易状态</td>
                <td>交易时间</td>
                <td>操作</td>
            </tr>
            <tr>
                <td>14714526736030868</td>
                <td>+0.01</td>
                <td>支付宝</td>
                <td>收入</td>
                <td>有效</td>
                <td>2017-04-06  12：24：33</td>
                <td>
                    <a href="lookTrade.html" class="btn btn-primary">查看</a>
                </td>
            </tr>
        </table>
    </div>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
</body>
</html>