<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="edge">
    <link rel="stylesheet" href="../component/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../www/src/date/jedate.css">
    <link rel="stylesheet" href="../www/css/index.css">
    <title>交易审核</title>

</head>
<body class="tradeReview">
<div class="htm-entry">
    <form action="" class="form-inline">
        <div class="entry-line1 row">
            <div class="form-group col-xs-4">
                <label >申请人</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-xs-4">
                <label >时间范围</label>
                <input class="form-control datainp wicon" id="createtime1" type="text" name='createtime1' placeholder="开始日期" value="${createtime1}">   —
                <input class="form-control datainp wicon" id="createtime2" type="text" name='createtime2' placeholder="结束日期" value="${createtime2}">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-4">
                <label >审核状态</label>
                <select name="" id="" class="form-control">
                    <option value="">全部</option>
                    <option value="">提现</option>
                </select>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary">查询</button>
                <button class="btn btn-danger">重置</button>
            </div>
        </div>
    </form>
</div>

<div class="htm-operation row">
    <div class="pull-right">
        <button class="btn btn-success">导出报表</button>
    </div>
</div>

<div class="htm-table">
    <table class="table text-center table-bordered table-striped">
        <tr>
            <td>持卡人姓名</td>
            <td>金额</td>
            <td>银行卡号</td>
            <td>银行名称</td>
            <td>申请人</td>
            <td>创建时间</td>
            <td>审核状态</td>
            <td>操作</td>
        </tr>
        <tr>
            <td>QAQ</td>
            <td>18800.0</td>
            <td>6217853600021778674</td>
            <td>上海市华夏西路支行</td>
            <td>隔壁老王</td>
            <td>2017-03-30 17:19:58</td>
            <td>待审核</td>
            <td>
                <a href="lookTradeReview.html" class="btn btn-primary">查看</a>
            </td>
        </tr>
    </table>
</div>

<script src="../component/jquery/dist/jquery.min.js"></script>
<script src="../www/js/fontchange.js"></script>
<script src="../www/src/date/jquery.jedate.min.js"></script>
<script type="text/javascript">
    var start = {
        format : 'YYYY-MM-DD',
        minDate : '2014-06-16 00:00:00', //设定最小日期为当前日期
        festival : true,
        //isinitVal:true,
        maxDate : $.nowDate(0), //最大日期
        choosefun : function(elem, datas) {
            end.minDate = datas; //开始日选好后，重置结束日的最小日期
        }
    };
    var end = {
        format : 'YYYY-MM-DD',
        minDate : '2014-06-16 23:59:59', //设定最小日期为当前日期
        festival : true,
        //isinitVal:true,
        maxDate : $.nowDate(0), //最大日期
        choosefun : function(elem, datas) {
            start.maxDate = datas; //将结束日的初始值设定为开始日的最大日期
        }
    };
    $("#createtime1").jeDate(start);
    $("#createtime2").jeDate(end);

    function testShow(elem) {
        $.jeDate(elem, {
            insTrigger : false,
            isinitVal : true,
            festival : true,
            ishmsVal : false,
            minDate : '2016-06-16 23:59:59',
            maxDate : $.nowDate(0),
            format : "hh:mm",
            zIndex : 3000,
        });
    }
</script>
</body>
</html>