.htm-bread {
  border: 1px solid #dddddd;
  margin-bottom: 2%;
}
.htm-bread .breadcrumb {
  margin: 0;
}
.htm-entry {
  border: solid 1px #dddddd;
  padding: 2%;
  margin-bottom: 2%;
}
.entry-line1 {
  margin-bottom: 3%;
}
.htm-operation {
  margin-bottom: 2%;
  padding: 1%;
  border: solid 1px #dddddd;
  margin-left: 0 ;
  margin-right: 0;
}
.htm-msg {
  border: solid 1px #dddddd;
  margin-bottom: 2%;
}
.msg-title {
  padding: 1%;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 2%;
  margin-right: 0%;
  margin-left: 0;
}
.finish-btn {
  margin-bottom: 2%;
}
:root table tr td {
  vertical-align: middle;
}
.goodsmanage,
.updategoods,
.lookgoods,
.evaluationcontrol,
.itemmanage,
.labelmanage,
.comment,
.ordermanage,
.aftermanage,
.afterdetails,
.recommendanage,
.listmanage,
.addrecommend,
.updaterecommend,
.lookecommend,
.speciaoffer,
.addctivity,
.activityGoodsList,
.selectActivityGoods {
  margin: 4% 2% 2% 2%;
}
.modal {
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 6%;
}
.modal-header {
  background-color: #434343;
  color: white;
}
.modal-body {
  padding-top: 5%;
}
.modal-btn {
  margin-top: 5%;
}
